.interfaz-container {
  margin: 20px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  justify-content: -betwespaceen;
  align-items: center;
}

label {
  font-weight: bold;
  flex: 1;
}

input[type="text"],
input[type="date"],
select {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  
}

button {
  display: block;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.form-group .precio-input {
  width:100px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.success-message {
  color: green;
  font-size: 14px;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.boton-ir-paso {
  background-color: #4CAF50; /* Botón de color diferente para ir a Paso */
}

.boton-ir-paso:hover {
  background-color: #45a049;
}

