
.seccion {
  margin: 30px auto;
  width: 400px;
  padding: 25px;
  background-color: rgb(95, 152, 185);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.boton {
  margin: 10px auto;
  width: 180px;
  height: 48px;
  background-color: #2b4061;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.boton:hover{
  background-color: black;
  color: white;
  /* height: 50px; */
  /* width: 100px; */
}

.ing {
  width: 96%;
  padding: 6px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

