

.paso-container {
  margin: 0 auto;
  margin-top: 90px;
  width: 500px;
  height: 300px;
  padding: 30px;
  background-color: rgb(151, 173, 180);
  border-radius: 10px;
  border: solid 2px;
  
  }
  
  h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
  }

  h2{
    margin-bottom: 10px;
  }
  
  .botones-container {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;

    /* gap: 1rem; */
  }
  
  .boton-generar {
    width: 180px;
    font-size: 1.2rem;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton-generar:hover {
    background-color: #45a049;
  }